# ignoruj pliki tymczasowe
*~
*.swp
*.swo
.DS_Store

# ignoruj prywatne dane
**/*secret*
**/*token*
**/*password*

# ignoruj katalog ktory byl dodany do omarchy na poczatku a nie wiem do czego on sluzy.
dotfiles.nix.old_wtf_is_this
*.old
